<footer class="grey-section">

  <h6>Contact us:</h6>
  <font size="1">
    <b>State</b>
    : Delhi</br>
    <b>District</b>
    : South West <br>
    <!-- <p>
    </p>
    </p> -->
    <b><u>Address</u></b>
    <p>
      Dwarka District Courts (SW)</br>
      Near Dwarka Sector-10 Metro Station</br>
      Dwarka Sector-10</br>
      New Delhi-110075</br>
      Tel Nos : 01128042850-57

    </p>




  </font>

  <p>© Copyright 2020 </p>
</footer>
